@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i style.css -o ./dist/output.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@layer utilities {
  .index-main-card {
    @apply flex h-full flex-col rounded-lg border border-gr-400 bg-gray-100 p-6 md:p-8;
  }
  .seen-on-wrap {
    @apply relative flex min-h-[100px] w-full flex-row items-center justify-around bg-gr-100 bg-opacity-10 px-s-five py-s-three backdrop-blur-sm;
  }
  .seen-on {
    @apply relative flex h-full w-full max-w-7xl flex-row flex-wrap items-center justify-around gap-y-s-four;
  }
  .seen-on h2 {
    @apply text-f-four font-medium text-gr-900 drop-shadow-md;
  }
  .logos {
    @apply flex w-full max-w-[70%] flex-row flex-wrap items-center justify-around gap-x-s-three gap-y-s-three;
  }
  .about-head-card {
    @apply relative mx-auto mt-s-four flex h-full w-[90%] flex-col items-center justify-start rounded-md px-s-three py-s-two transition-all duration-300 ease-in-out hover:-translate-y-2 hover:shadow-md md:mx-0 md:min-h-[180px] md:w-[30%];
  }
  .about-head-card-header {
    @apply mb-s-four inline-flex h-full w-full flex-row items-center justify-center md:justify-start;
  }
  .about-head-card-img svg {
    @apply h-[50px] w-[50px] object-cover;
  }
  .about-head-card-title {
    @apply ml-s-four;
  }
  .about-head-card-inner {
    @apply flex items-start justify-start;
  }
  .about-head-card-inner p {
    @apply mb-s-four w-full max-w-prose text-center text-f-two font-medium tracking-wide md:text-left md:text-f-three;
  }
}

#hero-index {
  position: relative;
  background-image: url("../images/header-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#hero-index * {
  position: relative;
  z-index: 2;
}

#courses-main {
  background-image: url("../images/blobs.svg");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}
#main-wrap-courses {
  background-image: url("../images/better-bg.svg");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}
