@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i style.css -o ./dist/output.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@layer utilities {
  .index-main-card {
    @apply flex h-full flex-col items-center justify-evenly rounded-md border border-sky-300/30 bg-cyan-900/95 p-6 transition-all duration-500 hover:shadow-lg hover:shadow-sky-200/20 md:p-8 lg:items-start;
  }
  .seen-on-wrap {
    @apply relative flex min-h-[100px] w-full flex-row items-center justify-around bg-gr-100 bg-opacity-10 py-s-three backdrop-blur-sm;
  }
  .seen-on {
    @apply relative flex h-full w-full max-w-7xl flex-col flex-wrap items-center justify-around gap-x-6 gap-y-s-four px-s-five md:flex-row md:flex-nowrap;
  }
  .logos {
    @apply flex w-full flex-row flex-wrap items-center justify-evenly gap-x-6 gap-y-8;
  }
  .about-head-card {
    @apply relative mx-auto mt-s-four flex w-[90%] flex-col items-center justify-start rounded-md border-2 border-gray-500/20 bg-gray-100 p-4 shadow-sm transition-all duration-300 ease-in-out hover:-translate-y-2 hover:shadow-xl md:mx-0 md:min-h-[180px] md:w-[30%] md:px-8 md:py-6;
  }
  .about-head-card-header {
    @apply mb-s-four inline-flex h-full w-full flex-row items-center justify-center md:justify-start;
  }
  .about-head-card-img svg {
    @apply h-[30px] w-[30px] object-cover;
  }
  .about-head-card-title {
    @apply ml-s-four;
  }
  .about-head-card-inner {
    @apply flex items-start justify-start;
  }
  .about-head-card-inner p {
    @apply mb-s-four w-full max-w-prose text-center text-sm font-medium tracking-wide md:text-left;
  }
}

#hero-index {
  position: relative;
  background-image: url("../images/header-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#hero-index * {
  position: relative;
  z-index: 2;
}

#courses-main {
  background-image: url("../images/blobs.svg");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}
#main-wrap-courses {
  background-image: url("../images/better-bg.svg");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}

#about-banner {
  background-image: url("../images/rainbow-vortex.svg");
  /* background by SVGBackgrounds.com */
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}

#about-main {
  background-image: url("../images/Moon.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  #about-main {
    background-position: center;
    background-image: url("../images/Stationary-blobs.svg");

    background-repeat: no-repeat;
  }
}

#about-banner * {
  position: relative;
  z-index: 2;
}

body {
  ::selection {
    background-color: hsla(341, 100%, 34%, 0.7);
    color: #fff;
  }
}
